<!DOCTYPE html>

<html lang="en">
  <head>
    <style>       img {
      width : 100%; /* 원하는 너비로 조정합니다. */
      height: auto; /* 높이를 자동으로 조정하여 비율 유지합니다. */
  }</style>
    <!-- icon -->
    <link
      rel="shortcut icon"
      href="{{ url_for('static', path='favicon.ico') }}"
    />

    <!-- socketio -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- jQuery UI -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
      integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- google Material icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!-- custom css -->
    <link rel="stylesheet" href="{{url_for('static', path='custom.css')}}" />
    <link rel="stylesheet" href="css/join/style.css" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Chat [{{room_id}}]</title>
  </head>

  <body>
    <input type="checkbox" id="chk-hear-mic" class="chk-hear-mic" />
    <label for="chk-hear-mic">마이크 소리 듣기</label>
    <script src="..\..\static\chatroom_networking.js"></script>
    <!-- 분리 -->
    <script>
      const chkHearMic = document.getElementById("chk-hear-mic")
      const audioCtx = new (window.AudioContext || window.webkitAudioContext)() // 오디오 컨텍스트 정의
      const analyser = audioCtx.createAnalyser()   
  
       
      let mediaRecorder;  
      let chunks = [];
      function makeSound(stream) {
      const source = audioCtx.createMediaStreamSource(stream);
      source.connect(analyser);
      analyser.connect(audioCtx.destination);
  }     
  </script>
    <!-- <script src="/js/chunk.js"></script> -->
    <!-- 분리 -->
    <div id="container" class="container">
      <div id="file-upload" class="file-upload">
        <button id="file-upload-btn" class="file-upload-btn">파일 업로드</button>
        <button id="record-start" class="record-start">녹음 시작</button>
        <button id="record-stop" class="record-stop">녹음 중지</button>
      </div>
      <div id="file-upload-dialog" class="file-upload-dialog" style="display: none">
        <button id="close-dialog-btn" class="close-dialog-btn">다이얼로그 닫기</button>
        <input type="file" id="file-input" class="file-input" />
        <div id="drop_zone" class="drop_zone">파일을 드래그 앤 드롭</div>
        <button id="submit-btn" class="submit-btn">Submit</button>
        <!-- 위치가 변경된 Submit 버튼 -->
      </div>
      <div id="video-area" class="video-area"  >
        <div id="rectangle" class="rectangle"></div>
        <div id="video_grid" class="video-grid"></div>
        <video id="local_vid" class="local_vid" autoplay muted></video>
        <script src="{{url_for('static', path='video-manager.js')}}"></script>
        <script src="{{url_for('static', path='chatroom_ui.js')}}"></script>
        <script src="{{url_for('static', path='chatroom_networking.js')}}"></script>
      </div>
      <div id="chat" class="chat">
        <div id="user-chat" class="user-chat">
          <p>유저 채팅창</p>
          <ul id="user-chat-messages" class="user-chat-messages"></ul>
          <input id="user-chat-input" class="user-chat-input"
            type="text"
            placeholder="메시지를 입력하세요"
          />
          <button id="user-send-btn" class="user-send-btn">전송</button>
        </div>
        <div id="ai-chat" class="ai-chat">
          <p>AI 챗봇 채팅창</p>
          <ul id="ai-chat-messages" class="ai-chat-messages"></ul>
          <input
            id="ai-chat-input" class="ai-chat-input"
            type="text"
            placeholder="메시지를 입력하세요"
          />
          <button id="ai-send-btn" class="ai-send-btn">전송</button>
        </div>
      </div>
       
    </div>
  </body>

  <!-- 분리 -->
  <script src="/js/package.js"></script>
  <!-- 분리 -->
  <script type="text/javascript">
    var myRoomID = "{{room_id}}";
    var myName = "{{display_name}}";
    var audioMuted = "{{mute_audio}}" == "1";
    var videoMuted = "{{mute_video}}" == "1";
    console.log(">> {{mute_audio}}, {{mute_video}}", audioMuted, videoMuted);
    let ellipsisInterval; // setInterval을 담을 변수
    console.log(myName, myRoomID);
    var checkBoxAudio =  document.getElementById('chk-hear-mic')
    var recordStartButton = document.getElementById('record-start');  
    var recordStopButton = document.getElementById('record-stop');
    var fileuploadButton =  document.getElementById('file-upload-btn');
    var labelmic = document.querySelector('label[for="chk-hear-mic"]');
    checkBoxAudio.style.display  = "none";
    recordStartButton.style.display = "none";
    recordStopButton.style.display = "none"; 
    fileuploadButton.style.display =  "none";
    labelmic.style.display = "none";
     
</script>
  <!-- <script src="/js/professorCam.js"></script> -->
</html>
